
<div class="contacts-form-container" ng-controller="saveCtrl">

<form class="bs-example bs-example-form" data-example-id="input-group-sizing">

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">FirstName</span>
  <input type="text" class="form-control" placeholder="FirstName" aria-describedby="sizing-addon1" ng-model="contact.firstName">
</div>

<br>

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">LastName</span>
  <input type="text" class="form-control" placeholder="LastName" aria-describedby="sizing-addon2" ng-model="contact.lastName">
</div>

<br>

<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">email</span>
  <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon3" ng-model ="contact.email">
</div>
    <br>

    <div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon4">phone</span>
  <input type="text" class="form-control" placeholder="Phone" aria-describedby="sizing-addon3" ng-model ="contact.phone">
</div>

    <br>

    <div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon5">city</span>
  <input type="text" class="form-control" placeholder="City" aria-describedby="sizing-addon3" ng-model ="contact.city">
</div>
    <br>

    <button type="button" class="btn btn-default" ng-click="saveContact(contact)">Submit</button>

    </form>
    </div>